.box{
    background-color: gray;
    position: absolute;
    border: 1px solid black;
}
#leftbox{
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
}
html{
    background-color: lightgray;
}
#canvas{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 10px;
    left: 250px;
    background-color: white;
}